body{
    text-color: AliceBlue;
    font-family: 'Courier New', Courier, monospace; 
}
h1, p{
    text-color: CornflowerBlue;
    font-family: 'Lucida Handwriting', cursive;
}
title{
    text-color: CornflowerBlue;
    font-family: 'Courier New', Courier, monospace;
}