body, h1{
    text-color: rgba(250, 105, 252, 0.55);
    font-family: 'Courier New', Courier, monospace; 
}
p{
    text-color: CornflowerBlue;
    font-family: 'Lucida Handwriting', cursive;
    padding: 5%;
title{
    text-color: rgb(124, 191, 225);
    font-family: 'Courier New', Courier, monospace;
}
h3, h4{
    text-color: orange;
    padding: 50%;
}
a:link{
    color:rgb(43, 192, 226);
}
a:visited{
    color: rgb(223, 125, 204)
}
a:hover{
    color: rgba(25, 150, 25, 0.711);
}