body{
    text-color: AliceBlue;
    font-family: 'Courier New', Courier, monospace; 
}
head{
    text-color: CornflowerBlue;
    font-family: 'Lucida Handwriting', cursive;
}
title{
    text-color: CornflowerBlue;
    font-family: 'Courier New', Courier, monospace;
}